$primary: #fffdfe;
$secondary: #d4a373;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

// Header
header {
  background: $primary;
  color: black;
  padding: 15px 140px;
}

.logo{
    text-align: center;

    h1{
        font-size: 56px;
        margin: 0;
        color: rgb(246, 4, 4);
    }
    p{
        font-size: 12px;
        font-style: italic;
    }
}
.logoSearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    padding: 8px 10px;
    font-size: 16px;
    // border: #c72626;
    border-radius: 6px 0px 0px 6px;
}
button{
    padding: 8px 10px;
    font-size: 16px;
    background-color: rgb(140, 140, 233);
    color: white;
    border: rgb(245, 245, 249);
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
}

.UserAcout {
    font-size: 20px;

    a {
        color: red;
        text-decoration: none;
    }
}

// responsive
@media (max-width: 768px) {
  
  }

nav{
  padding: 6x;
}
nav a {
    color: black;
    margin-right: 40px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
}

// silder
.slider-header{

  img {
    width: 100%;
    object-fit: contain;
  }
}





// product








// footer
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
